* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-a {
    margin-top: 1rem;
}

.margin-aa {
    margin-top: 1.5rem;
}

.margin {
    margin: auto;
}

.margin-aaa {
    margin-top: 2rem;
}

.margin-b {
    margin-bottom: 1rem;
}

.margin-bb {
    margin-bottom: 1.5rem;
}

.margin-bbb {
    margin-bottom: 2rem;
}

.s-head {
    font-size: 1.1rem;
}

.m-head {
    font-size: 1.5rem;
}

.blue {
    color: blue;
}
.light-blue{
    color: rgb(8, 102, 255) !important;
}

.l-head {
    font-size: 2rem;
}

.white {
    color: white;
}

.light-red {
    color: rgb(231, 86, 86) !important;
}
.sml{
    font-size: 0.9rem;
}

.small {
    font-size: 0.8rem !important;
}

.smaller {
    font-size: 0.7rem;
}

.smallest {
    font-size: 0.5rem;
}

.bold {
    font-weight: 550 !important;
}

html {
    font-family: "Noto Sans Cherokee", sans-serif;


}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    height: 94px;
    align-items: center;
    border-bottom: 1px solid gray;
}

.hamburger {
    width: 75px;
    margin-left: 15px;
    font-size: 30px;
}

.f-b {
    transform: rotate(90deg);
}








#option:checked~.menu-opt {
    top: 95px;
}

.opt{
    display: flex;
}

#option {
    visibility: hidden;
    width: 0;
    height: 0;
    margin-left: 5px;
}

.dr-down {
    cursor: pointer;
}

.menu-opt {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 768px;
    height: fit-content;
    background-color: blue;
    padding: 15px;
    top: -1500px;
    left: 0;
    transition: top 1s;
    z-index: 10;


}

.first-ul,
.sec-ul {
    list-style-type: none;
    width: 750px;
}

.first-ul a {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 2.9;

}

.sec-ul a {
    color: white;
    line-height: 2.9;
}

.more {
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
    box-sizing: border-box;


}

.secti1,
.secti2,
.secti3,
.secti4 {
    min-width: 39%;
    height: 100px;
    margin-top: 20px;
    margin-right: 30px;
    box-sizing: border-box;
}

div.nav-links ul {
    display: flex;
    align-items: center;
    margin: 20px;
    list-style-type: none;
}

.nav-links li {
    margin-right: 20px;
}

.header-img {
    position: relative;
    background-image: url("https://images.pexels.com/photos/7518687/pexels-photo-7518687.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    max-width: 80%;
    height: auto;
    margin: auto;
}

.header-text {
    display: flex;

    font-size: 1.7rem;
}
.center{
    max-width: 80%;
    margin: auto;
}
.bold-para {
    width: 80%;
    font-size: 1.1rem;
    margin: auto;
    line-height: 1.5;
    margin: 30px auto 30px auto;
}

.light-para {
    width: 80%;
    font-size: 0.8rem;
    margin: auto;
    line-height: 1.8;
    margin: 20px auto 20px auto;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.img-sect {
    display: flex;
    align-items: center;
    max-width: 768px;
    height: auto;
    margin: auto;
}

.image1 {
    width: 100%;
    height: 100%;
    position: relative;
    left: 15%;

}

.image2 {
    width: 100%;
    height: auto;
}

.image1 img {
    width: 100%;
    height: auto;
}

.image2 img {
    width: 100%;
    height: auto;
}
.img-3-cont{
    max-width: 768px;
}

.image3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.image3 img {
    width: 80%;
    height: auto;
}

.image-disc {
    width: 75%;
    margin: auto;
}

.image-container2 {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: auto;

}

.image-subcontainer {
    background-image: url("https://images.pexels.com/photos/28808300/pexels-photo-28808300/free-photo-of-cozy-bedroom-with-white-lamp-and-open-door.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    aspect-ratio: 1/1.4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

}

.image4 {
    width: 65%;
    margin-left: 20px;
}

.image4 img {
    position: relative;
    width: 100%;

}

.image5 {
    width: 65%;
    margin-left: 20px;
}

.image5 img {
    position: relative;
    width: 100%;

}


.image6 {
    position: relative;
    width: 40%;
    height: auto;
    margin: auto;
    right: 10%;
}

.image6 img {
    width: 100%;
    aspect-ratio: 10/7;
}

.image-container3 {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    aspect-ratio: 1/0.9;
    box-sizing: border-box;
}

.image-sub2 {
    display: flex;
    width: 75%;
    align-items: center;
    background-color: #d5b3ff;
    margin: auto;
    aspect-ratio: 1/0.8;

}

.image7 {
    position: relative;
    width: 100%;
    height: auto;
    right: 10%;

}

.image7 img {
    width: 100%;
    height: auto;
}

.image8 {
    position: relative;
    width: 150%;
    height: auto;
    left: 20%;

}

.image8 img {
    width: 100%;
    height: auto;

}

.image-container4 {
    max-width: 768px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto auto 80px auto;

}

.image9 {
    width: 80%;
    height: auto;
    margin: auto;
}

.image9 img {
    width: 100%;

}

.bgc2 {
    width: 80%;
    background-color: #b1c5ff;
    font-weight: 600;
    position: relative;
    top: -10px;
    margin: auto;

}

.bgc2 a {
    color: blue;
}

.footer-h1 {

    margin: 30px auto 50px auto;
}

.custom-hr {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}


.footer-container {
    width: 80%;
    margin: auto;

}

.input {
    max-width: 768px;
    display: flex;

}

.input input {
    border: none;
    width: 50%;
    padding: 6px;
    background-color: rgba(193, 193, 193, 0.3);
}

.sign-btn {
    background-color: blue;
    color: white;
    padding: 6px;
    width: 25%;
    text-align: center;
    font-size: 0.8rem;
}

.links-cont {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 40px auto auto auto;
    line-height: 2;

}

.social-media{
    display: flex;
    margin: 1.4rem auto auto auto ;
}

.s-logo{
    margin-right:20px ;
    font-size: 2rem;
    
}

.fb-logo a{
    color: rgb(8, 102, 255);
}

.yt-logo a{
    color: red;
}
.inst-logo a{
    color: rgb(255, 0, 102);
}

.tik-logo a{
   text-shadow: -2px -2px 0px  rgb(8, 235, 228), 2px 1px 0px red;
}
a{
    cursor: pointer;
}
select{
    padding: 8px;
    font-weight: bold;
    background-color: rgb(229, 232, 232);
    border: none;
    ;
}


.lang-sel{
    width: 25%;
    
}

.imp-links{
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-weight: 600;
    font-size: 0.8rem;
}
.lang-loc{
    max-width: 400px;
}
.country-sel{
    width: 70%;
}
.end{
   display: flex;
   margin-bottom: 30px;
   
}
a{
    max-width: fit-content;
}

@media screen and (min-width:768px) {
 
}

